
.container {
    max-width: var(--main-content-width);
    margin-inline: auto;
}

.container-half {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: var(--gap);
    background-color:inherit;
}
