#intro {
    /* padding: 20px; */
    margin-bottom: var(--gap);
}

.header {
    position: sticky;
    bottom: 500px;
}

.content {
    background-color: var(--forest-green);
    border-radius: 6px;
    padding-inline: 15px;
    
    opacity: .8;
    transition: opacity 500ms ease-in-out;
}

.content:hover {
    opacity: .9;
}

.content > ul {
    list-style: circle;
}

.content > ul > li {
    padding-bottom: 5px;
}

.skills > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    list-style: none;
    padding: 0px;
    gap: 20px;
}

.skill {
    padding: 5px 10px;
    outline: 1px solid black;
    font-size: 1.5rem;
    flex-grow: 1;
    border-radius: 4px;
    transition: background-color 250ms ease-in-out;
}
.skill:hover {
    background-color: var(--btn-hover-background);
    opacity: 1;
}